body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #65eb53;
    color: #000000;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    margin-left: 20px;
  }
  
  #game {
    background: url("img/tukue.png") no-repeat center center;
    background-size: cover;
  }
  
  .field {
    margin: 40px auto;
    padding: 0px;
    border: 1px solid black;
    width: 385px;
    cursor: pointer;
  }
  
  .container {
    width: 384px;
    height: 133px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    background-color: aquamarine;
  }
  
  .container .tile {
    width: 128px;
    border: 1px solid black;
    background: url("img/deer.JPG") no-repeat;
    background-size: 300%;
  }
  
  .tile.empty {
    background: none; /* 空白タイル */
  }
  
  /* タイルの背景位置を一元管理 */
  .tile[data-index="0"] { background: none; } /* 空白タイルのスタイル */
  .tile[data-index="1"] { background-position: top center; }
  .tile[data-index="2"] { background-position: top right; }
  .tile[data-index="3"] { background-position: center left; }
  .tile[data-index="4"] { background-position: center center; }
  .tile[data-index="5"] { background-position: center right; }
  .tile[data-index="6"] { background-position: bottom left; }
  .tile[data-index="7"] { background-position: bottom center; }
  .tile[data-index="8"] { background-position: bottom right; }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }
  
  b {
    text-align: center;
  }
  
  .mainArea1 {
    text-align: center;
  }
  
  .mainArea2 {
    width: 100%;
    text-align: center;
  }
  
  #timer {
    font-size: 40px;
    text-align: center;
    color: red;
    margin: 0px;
  }
  
  button {
    background-color: #f53e3e;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d77b7b;
  }
  